h1{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color:burlywood;
}
body{
    background-image: url("https://www.vamosrayos.com/b/2020/01/free-wallpaper-samples-for-phone-windows.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
a{
    color:whitesmoke;

}